.active {
    color : yellowgreen;
}

.root,
.root div{
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

#container,
#container div{
    border:5px solid red;
    margin: 10px;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}